---
// Images
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import ShareButtons from "@/components/fundations/elements/ShareButtons.astro";
// Icons
import Play from "@/components/fundations/icons/Play.astro";
import Mute from "@/components/fundations/icons/Mute.astro";
import Pause from "@/components/fundations/icons/Pause.astro";
import Speaker from "@/components/fundations/icons/Speaker.astro";
import RewindBackwards10s from "@/components/fundations/icons/RewindBackwards10s.astro";
import RewindForward10S from "@/components/fundations/icons/RewindForward10s.astro";
// Components
import PodcastCardSimple from "@/components/podcast/PodcastCardSimple.astro";
// Sections
import Subscribe from "@/components/ctas/Subscribe.astro";
// Props
const { frontmatter, previous, next, slug } = Astro.props;
import { getEntry } from "astro:content";
const author = await getEntry("authors", frontmatter.author);
// Get all posts and filter by tag
import { getCollection } from "astro:content";
const allPosts = await getCollection("podcast");
const currentSlug =
  slug ||
  frontmatter.slug ||
  (Astro.url?.pathname
    ? Astro.url.pathname.split("/").filter(Boolean).pop()
    : "");
const relatedPosts = allPosts.filter(
  (post) =>
    post.id !== currentSlug &&
    Array.isArray(post.data.tags) &&
    Array.isArray(frontmatter.tags) &&
    post.data.tags.some((tag) => frontmatter.tags.includes(tag))
);
---

<BaseLayout>
  <section>
    <Wrapper class="standard" class="pb-32">
      <Image
        height={2000}
        width={2000}
        src={frontmatter.guestAvatar.url}
        alt={frontmatter.guestAvatar.alt}
        class="object-cover size-full object-top max-h-[70dvh]"
      />
      <div>
        {
          frontmatter.audioSrc && !frontmatter.isLocked && (
            <div class="p-8 mt-8 border border-black audio-player ">
              <div class="flex items-center justify-between w-full gap-2">
                <button
                  id="backwardBtn"
                  class="rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                  aria-label="Go back 10 seconds"
                >
                  <RewindBackwards10s class="size-5 " />
                </button>
                <button
                  id="playPauseBtn"
                  class="rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                >
                  <Play id="playIcon" class="size-5 " />
                  <Pause id="pauseIcon" class="hidden size-5" />
                </button>
                <button
                  id="forwardBtn"
                  class="order-second rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                  aria-label="Go forward 10 seconds"
                >
                  <RewindForward10S class="size-4 " />
                </button>
                <audio id="audioElement" src={frontmatter.audioSrc} />
                <span
                  class="hidden text-xs text-base-600 sm:flex"
                  id="currentTime"
                >
                  00:00
                </span>
                <input
                  type="range"
                  id="seekBar"
                  value="0"
                  step="1"
                  min="0"
                  class="hidden w-full  sm:flex"
                />
                <span
                  class="hidden text-xs text-base-600 sm:flex"
                  id="duration"
                >
                  00:00
                </span>
                <button
                  id="muteBtn"
                  class="rounded-lg bg-white p-1.5 text-base-600  hover:bg-base-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-base-400 cursor-pointer focus:outline-2 focus:outline-inset"
                  aria-label="Mute/Unmute"
                >
                  <Speaker id="speakerIcon" class="size-5 " />
                  <Mute id="muteIcon" class="hidden size-5" />
                </button>
              </div>
            </div>
          )
        }
        <div class="max-w-xl pt-12 mx-auto">
          <Text
            tag="h1"
            variant="displayMD"
            class="font-serif font-light leading-6 md:leading-8 text-base-600"
          >
            <span class="text-base-900"> {frontmatter.title}</span> —
            {frontmatter.description} —</Text
          >

          {
            author && (
              <a
                href={`/authors/${author.id}`}
                class="flex items-center mt-4 gap-3 hover:opacity-80 transition"
              >
                {author?.data?.image?.url && (
                  <Image
                    width={100}
                    height={100}
                    src={author.data.image.url}
                    alt={author.data.image.alt}
                    class="inline-block object-cover object-center rounded-full size-10"
                  />
                )}
                <Text tag="p" variant="textXS" class="text-base-600 ">
                  <span class="">
                    Written in
                    <span class="italic font-medium text-base-600">
                      <time
                        datetime={new Date(frontmatter.pubDate).toISOString()}
                      >
                        {new Date(frontmatter.pubDate).toLocaleDateString(
                          "en-US",
                          {
                            year: "numeric",
                            month: "long",
                            day: "2-digit",
                          }
                        )}
                      </time>
                    </span>
                  </span>
                  <span class="">
                    by
                    <span class="italic font-medium text-base-600">
                      {author.data.name}
                    </span>
                  </span>
                  <span class="block"> {author.data.role}</span>
                </Text>
              </a>
            )
          }
        </div>

        {
          frontmatter.isLocked ? (
            <div class=" mt-12 border-t border-black py-20 text-center">
              <Text
                tag="h4"
                variant="displaySM"
                class="max-w-4xl mx-auto font-serif font-light tracking-tight text-base-900 text-balance"
              >
                This episode is for subscribers only. Unlock premium insights by
                becoming a member.
              </Text>
              <div class="flex flex-wrap justify-center mt-8 gap-2">
                <Button isLink size="sm" variant="muted" href="/login">
                  Log in
                </Button>
                <Button isLink size="sm" variant="default" href="/pricing">
                  Subscribe Now
                </Button>
              </div>
            </div>
          ) : (
            <div class="max-w-xl mx-auto">
              <Text
                tag="h1"
                variant="textXS"
                class="mt-24 text-base-900 uppercase lg:mt-40"
              >
                transcript
              </Text>
              <Wrapper variant="prose" class="mt-2 ">
                <slot />
              </Wrapper>
              <div class="pt-6 mt-6 border-t border-black">
                <ShareButtons
                  contentType="podcast"
                  description={frontmatter.description}
                />
              </div>
            </div>
          )
        }
      </div>
    </Wrapper>
  </section>
  <Wrapper variant="standard" class="pb-24 pt-8">
    <nav
      class="flex flex-col md:flex-row lg:justify-between gap-4 lg:items-center relative text-xs"
    >
      {
        previous && (
          <a
            href={`/podcast/interviews/${previous.id}`}
            class="hover:opacity-80 "
          >
            <span class="block  text-base-900 font-medium uppercase">
              Previous:
            </span>
            <span class="block  text-base-600"> {previous.data.title}</span>
          </a>
        )
      }
      {
        next && (
          <a
            href={`/podcast/interviews/${next.id}`}
            class=" hover:opacity-80 text-right"
          >
            <span class="block  text-base-900 font-medium uppercase ">
              Next:
            </span>
            <span class="block  text-base-600"> {next.data.title}</span>
          </a>
        )
      }
    </nav>
  </Wrapper>
  {
    relatedPosts.length > 0 && (
      <section>
        <Wrapper variant="standard" class="py-8">
          <Text
            tag="h2"
            variant="displayMD"
            class="font-serif font-light text-base-600"
          >
            Related interviews
          </Text>
          <div class="items-start pt-2 mt-2 border-t border-black grid grid-cols-1 md:grid-cols-2 gap-2">
            {relatedPosts.map((post) => (
              <PodcastCardSimple post={post} />
            ))}
          </div>
        </Wrapper>
      </section>
    )
  }
  <Subscribe />
</BaseLayout>
